name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        go: [1.19.3]
    name: '${{ matrix.platform }} | ${{ matrix.go }}'
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: go
          queries: security-and-quality
      - name: Build
        run: |
          GOOS=windows GOARCH=amd64 go build -o build/win-amd64/cbuild.exe ./cmd/cbuild
          GOOS=darwin GOARCH=amd64 go build -o build/mac-amd64/cbuild ./cmd/cbuild
          GOOS=linux GOARCH=amd64 go build -o build/lin-amd64/cbuild ./cmd/cbuild
          GOOS=linux GOARCH=arm64 go build -o build/lin-arm64/cbuild ./cmd/cbuild        
      - name: Archive windows amd64 binaries
        uses: actions/upload-artifact@v3
        with:
          name: cbuild-windows-amd64
          path: ./build/win-amd64/cbuild.exe
          retention-days: 1
          if-no-files-found: error
      - name: Archive macos amd64 binaries
        uses: actions/upload-artifact@v3
        with:
          name: cbuild-mac-amd64
          path: ./build/mac-amd64/cbuild
          retention-days: 1
          if-no-files-found: error
      - name: Archive linux amd64 binaries
        uses: actions/upload-artifact@v3
        with:
          name: cbuild-lin-amd64
          path: ./build/lin-amd64/cbuild
          retention-days: 1
          if-no-files-found: error
      - name: Archive linux arm64 binaries
        uses: actions/upload-artifact@v3
        with:
          name: cbuild-lin-arm64
          path: ./build/lin-arm64/cbuild
          retention-days: 1
          if-no-files-found: error
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

